body{
    background-color: #202324;
    color: white;
}

#headline{
    padding-top: 10rem;
}

canvas{
    border: 1px solid black;
    background-color: #444A4D;
    width: 100%;
    /* height: 100px; */
}

.form-group #node_input{
    color: white;
    background-color: #202324;
}

.form-group #node_input:focus{
    color: white;
    background-color: #313536;
}

.form-control {
    color: white;
    background-color: #202324;
}

.form-control:focus {
    color: white;
    background-color: #313536;
}

.card{
    background-color: #2e3333;
}

.upper{
    padding-bottom: 1rem;
}

.card-body{
    margin: 0rem 1rem 0rem 1rem;
    padding: 0.7rem 0rem 0 0 !important;
}